@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;700&family=Nunito+Sans:opsz,wght@6..12,300&family=Open+Sans&family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    box-sizing: 0;
    padding: 0;
}
body {
    background-color: rgb(14, 14, 14)
}
.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 1510px;
    height: 1080px;
    filter: blur(80px);
    z-index: -1;
    margin-top: -200px;
}
.logo {
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-left: 170px;
}
#cima-tudo {
    width: 100%;
    display: flex;
}
.texto-cima {
    margin-left: 220px;
}
.texto-cima a {
    font-size: 17px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.nav-botoes {
    border: none;
    height: 30px;
    margin-left: 60px;
    background-color: transparent;
    margin-top: 20px;
}
.nav-botoes::before {
    margin-left: auto;
}
.nav-botoes::after, .nav-botoes::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
}
.nav-botoes:hover::after, nav:hover::before {
    width: 100%;
  }
.search-container {
    display: flex;
    overflow: hidden;
    max-width: 0;
    transition: max-width 0.3s ease-in-out;
}

#searchInput {
    height: 30px;
    padding: 5px;
    font-size: 14px;
    border: none;
    outline: none;
}
#searchButton {
    margin-left: 10px;
    cursor: pointer;
}

.menu-search {
    margin-left: 797px;
    height: auto;
    margin-top: -39px;
}


.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  


  .imgs2 {
    margin-left: 10px;
    cursor: pointer;
    width: 30px;
    margin-top: 14px;
}
.baixo-nav {
    display: flex;
    width: auto;
    height: 200px;
    margin-top: 90px;
    padding: 70px;
    align-items: center;
    justify-content: center;
}

.texto-baixo-nav h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: white;
    transition: 0.5s;
}

.texto-baixo-nav i {
    color: #b5b5b5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 17px;
    transition: 0.4s;
}
.linha-branca {
    height: 1px;
    width: 1290px;
    background-color: white;
    margin-left: 110px;
    margin-top: 40px;
}

.texto-baixo-nav span {
    color: #f44336;
    transition: 2s;
}
.texto-baixo-nav button {
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    background: transparent;
    color: black;
    border: 1px solid white;
    border-radius: 20px;
    width: 130px;
    height: 50px;
    color: white;
    transition: 0.5s;
}
.texto-baixo-nav button:hover {
    border: 2px solid #f44336;
    font-size: 19px;
}


.menu-direito {
    z-index: 3;
    border-radius: 20px 0 0;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #515050;
    padding: 10px;
    box-shadow: 1000px rgb(0, 0, 0);
}
#menuDireito {
    width: 500px;
    height: 100%;
    position: fixed;
}
#btnAlterarEstilo {
    border-radius: 20px;
    border: 1px solid white;
    width: 100px;
    height: 30px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background: transparent;
    color: white;
    transition: 1s;
}
#btnAlterarEstilo:hover {
    color: #f44336;
    border: 1px solid #f44336;
    font-size: 12px;
}

/* FECHAR MENU */
.fechar-botao {
    margin-left: 370px;
    border: none;
    width: auto;
    display: flex;
    background:transparent;
}
.fechar-botao p {
    font-size: 15px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}
.fechar-botao img {
    width: 20px;
    margin-left: 20px;
}
.fechar-botao:hover {
    /* Cor de fundo ao passar o mouse */
    color: white;
}

.coisas-menu {
    margin-top: 200px;
}
.imgs-menu {
    width: 100px;
}
.coisas-menu a {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    display: block;
    padding: 10px;
    font-size: 26px;
    color: white; /* Cor do texto normal */
    text-decoration: none; /* Remove a sublinhado padrão dos links */
    transition: background-color 1.0s ease; /* Adiciona uma transição suave para a mudança de cor de fundo */
    border-radius: 10px;
}

.coisas-menu a:hover {
    background-color: #606060; /* Cor de fundo ao passar o mouse */
}
/* CONTEEEUUUUUDOOOOOOOOOO */
#noticia {
    margin-top: 100px;
}

.text-noticia {
    font-family: 'Montserrat', sans-serif;
    margin-left: 100px;
    display: flex;
    color: white;
}
.titulo-noticia {
    margin-left: 400px;
    font-size: 35px;
}
.titulo-noticia span {
    color: #f44336;
    margin-left: 100px;
}
.sla-img1 {
    display: flex;
    justify-content: center;
    text-align: center;
}
.sla-img2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.sla-img3 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.imgs-noticia img {
    width: 360px;
    border: 1px solid #f44336;
    margin: 3px;
    border-radius: 5px;
}
.img-3-noticia {
    height: 203px;
    width: 380px;
    text-align: center;
}

.imgs-noticia p {
    width: 300px;
    margin-left: 40px;
}
.imgs-noticia {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
}
.img-2-noticia {
    height: 203px;
}

#sobre-noticia {
    padding: 30px;
    width: 1000px;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(80px);
    border-radius: 20px;
    margin-left: 250px;
    margin-top: 90px;
    border: 1px solid #880000;
}

#sobre-noticia h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 20px;
}
#sobre-noticia span {
    color: #f44336;
}
#sobre-noticia p {
    font-family: 'Open Sans', sans-serif;
    color: #b8b8b8;
    width: 600px;
    margin-left: 200px;
}
#sobre-noticia img {
    width: 200px;
}
/* FIIIMMMM */
#final {
    height: 400px;
    color: white;
    margin-top: 100px;
    display: flex;
    background-color: #393939;
}
.final-titulo {
    margin-left: 180px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin-top: 70px;
}
.text-final {
    margin-left: 300px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    margin-top: 70px;
}
.text-menos-final {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    margin-top: 60px;
}

.parte1, .parte2 {
    display: block;
}

.parte1 {
    margin-right: 40px;
}

.parte1 p, .parte2 p {
    padding-bottom: 16px;
}

.parte2 p a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: white;
}